<section
  id="partner-marquee"
  class="partner-marquee"
  aria-label="Distribution partners"
>
  <div class="partner-marquee__track marquee-track marquee-track--static">
    <a
      href="https://www.1620.ch/"
      target="_blank"
      rel="noopener noreferrer"
      class="partner-marquee__logo"
    >
      <img
        src="__BASE__/media/images/partners/vino.svg"
        alt="Vinothek Andermatt"
        class="partner-marquee__image"
      />
    </a>
    <a
      href="https://www.baeren-andermatt.ch/"
      target="_blank"
      rel="noopener noreferrer"
      class="partner-marquee__logo"
    >
      <img
        src="__BASE__/media/images/partners/baren.svg"
        alt="Hotel Restaurant Bären"
        class="partner-marquee__image"
      />
    </a>
    <a
      href="https://www.pinte-andermatt.ch/"
      target="_blank"
      rel="noopener noreferrer"
      class="partner-marquee__logo"
    >
      <img
        src="__BASE__/media/images/partners/ppc.svg"
        alt="Pinte - Pub and Club"
        class="partner-marquee__image"
      />
    </a>
  </div>
</section>
